<p id="notice"><%= notice %></p>

<p>
  <strong>講義名:</strong>
  <%= @lecture.name %>
</p>

<p>
  <strong>担当教員名:</strong>
  <%= @lecture.teacher %>
</p>

<p>
  <strong>講義週:</strong>
  <%= @lecture.number %>
</p>

<p>
  <strong>開講年:</strong>
  <%= @lecture.begin_year %>
</p>

<p>
  <strong>開講時期:</strong>
  <%= @lecture.begin_term %>
</p>

<p>
  <strong>対象学年:</strong>
  <%= @lecture.grade %>
</p>


<%= link_to 'Edit', edit_lecture_path(@lecture) %> |
<%= link_to 'Back', lectures_path %>
